<div class="ui vertical menu">
    <div class="ui dropdown item">
        <i class="dropdown icon"></i>
        Party organizer
        <div class="menu">
            @Html.ActionLink("Add guest to the list", "Create", "Guest", null, new { @class = "item" })
            @Html.ActionLink("View Guest list", "Index", "Guest", null, new { @class = "item" })
            @Html.ActionLink("Return to start page", "Index", "Home", null, new { @class = "item"})
        </div>
    </div>
</div>

<div class="ui vertical menu">
    <div class="ui dropdown item">
        <i class="dropdown icon"></i>
        Save/Load XML
        <div class="menu">
            <div id="saveAllGuests" class="item">Save all guests to XML</div>
            <div id="saveAttendingGuests" class="item">Save attending guests to XML</div>            
            @Html.ActionLink("Open all guests from XML", "LoadAllGuests", "Home", null, new { @class = "item" })            
        </div>
    </div>
</div>

@{ Html.RenderAction("GenderBalance", "Guest"); }
