@{
    ViewBag.Title = "Party Organizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ui header">Party Organizer</h2>

<h3 class="ui header"> hello and welcome,</h3>

<p>
    this is your personal and best party organizer tool.
    here you will be able to input people you have invited for your party,
    you will be able to track their response and also monitor if there is
    roughly the same amount of men and women so everyone can dance and not
    sit alone at your party.
</p>


