@using Models;
@using System.Web.Mvc.Html;
@model List<Guest>

    @{
        ViewBag.Title = "Guest List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Guest List</h2>    
    <div class="ui cards">

        @foreach(Guest guest in Model)
        {
          @Html.Partial("_guestCard", guest);
        }
        
    </div>
        

    @section scripts
{
        <script src="~/Scripts/Developer/GuestIndex.js"></script>
    }
